/* Variables */

$title-font: 'Righteous', cursive;
$body-font: 'Titillium Web', sans-serif;

$sm: 768px;
$md: 992px;

/* Fonts */

body {
    font-family: $body-font;
    color: #333;

    h1, h2, h3 {
        font-family: 'Righteous', cursive;
        color: #333;
    }

    h4, h5, h6 {
        font-family: $body-font;
        font-weight: bold;
        color: #333;
    }
    p {
        font-family: $body-font;
        color: #333;
    }
}

/* Title */

.title__backdrop, .section-title__backdrop {
    background-color: #333;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.title__backdrop {
    border-top: none;
}

.no-bottom-border {
    border-bottom: none;
}

.title {
    padding: 80px 0px;    
    
    h1, h2 {
        vertical-align: top;
        margin: 0;
        color: white;
    }

    h1 {
        font-size: 40px;
        line-height: 56px;
    }
    h2 {
        font-family: $body-font;
        font-size: 24px;
        line-height: 24px;
    }

    @media only screen and (max-width: $sm) {
        h1, h2 {
            text-align: center;
        }
        
        h1 {
            font-size: 30px;
            line-height: 38px;
        }
        h2 {
            font-size: 18px;
            line-height: 18px;
        }
    }
}

/* Bio */

.bio {

    padding: 40px 0px;

    .bio__img-container {
        img {
            width: 100%;
            border-radius: 400px;
        }
    
        @media only screen and (max-width: $sm) {
            padding-right: 0;
        }
    }
}

/* Skills */

.skills {
    padding: 40px 0px;

    .skills__container {

        .skills__box {

            h3 {
                margin-top: 0px;
            }

            ul {
                margin-bottom: 0px;
            }

            @media only screen and (max-width: $md) {
                margin-bottom: 20px;
            }
        }
    }
}

/* Portfolio */

.portfolio {

}

.portfolio__backdrop {
    background-color: #333;
    border-top: solid 4px red;
}

.portfolio__header {
    padding: 60px 0px 120px 0px;

    @media only screen and (max-width: $md) {
        padding: 60px 0px 60px 0px;
    }

    h3, p {
        vertical-align: top;
        margin: 0;
        color: white;
        text-align: center;
    }

    h3 {
        font-size: 40px;
        line-height: 56px;
    }

    p {
        font-size: 24px;
        line-height: 24px;
    }
}

.portfolio__big-picture {
    img {
        width: 100%;
    }

    .img-separate {
        margin-bottom: 20px;
    }
}

.portfolio__tags-ul {
    position: absolute;
    padding: 50px 0px;
    width:100%;
    text-align: center;
    margin: 0;

    @media only screen and (max-width: $md) {
        padding: 20px 0px;
    }

    li {
        display: inline-block;
        line-height: 20px;
        height: 20px;
        font-size: 12px;
        margin: 0px 20px;
        background-color: darkred;
        padding: 0px 10px;
        span {
            color: white;
        }
        @media only screen and (max-width: $md) {
            margin: 0px 5px;
        }
    }
}

.portfolio__features-box {

    margin-bottom: 80px;

    h4, p {
        color: white;
        text-align: center;
        vertical-align: top;
    }

    h4 {
        margin: 0;
        font-size: 20px;
        line-height: 42px;

    }
    p {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
    }

    @media only screen and (max-width: $md) {
        margin-bottom: 20px;
    }
}

/* Footer */

.footer {
    padding: 60px 0px;
    text-align: center;
    a {
        color: white;
        font-size: 40px;
        margin: 0px 15px;

        &:visited {
            color: white;
        }

        

        i {
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }

    }
}

.footer__backdrop {
    background-color: #333;
}